* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(236, 238, 241);
  width: 1450px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}
.sing-container {
  width: 22%;
  height: 40px;
  padding: 5px;
  float: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flexbox;
  flex-flow: row wrap;
  font-size: 13px;
}

.sign {
  color: white;
  background: #0277C5;
  padding: 5px;
  margin: 5px;
}

.sign i {
  margin-left: 5px;
}

#forgot {
  color: #0277C7;
}

.container{
  text-align: center;
  margin-top: 80px;
}
.icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.form-container{
  display: flex;
  justify-content: center;
}
h1{
  color: rgb(156, 154, 154);

}
form{
  width: 33%;
  height: 800px;
  border: 1px solid #C6C7C7;
  background-color: white;
  margin-bottom: 10%;
  border-bottom: 1px solid #C6C7C7;
}

.letter {
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 2%;
}

.letter2 {
  display: block;
  margin-left: 20px;
  margin-bottom: 2%;
}





#legend {
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bold;
}

input{
  width: 95%;
  height: 40px;
}
label{
  margin-top: 30px
}
#one-account {
  font-size: 14px;
  text-align: center;
}

#learn {
  font-size: small;
  margin-bottom: 10%;
  color: #4F7BCF;
}

a {
  text-decoration: none;
  color: #4F7BCF;
}

.submit {
  background: #0277C5;
  color: white;
  padding: 2% 15% 2% 15%;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 90%;
}

#warning {
  font-size: 10px;
  font-size: small;
  margin-top: 18%;
  margin-bottom: 30%;
}

#greyBlock {
  background-color: #ECEEF1;
  font-size: x-small;
  margin-top: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.icon {
  margin-right: 4px;
  margin-left: 4px;
}

.icons {
  margin-bottom: 16px;
}

#titleImage {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footr span {
  display: block;
  text-align: center;
}
